.footer {
   position: absolute;
   bottom: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 60px;
   background-color: rgba($color: $dark-gray, $alpha: 0.15);

   // =====LARGEST SCREENS (1200px)=====
   @media (min-width: $desktop-width) {
      height: 90px;
   }

   &__text {
      margin-right: 10px;
      color: $med-gray;
      font-size: 1.2rem;

      // =====LARGEST SCREENS (1200px)=====
      @media (min-width: $desktop-width) {
         margin-right: 30px;
         font-size: 2rem;
      }
   }

   &__button {
      height: 25px;
      width: 70px;
      font-size: 1.1rem;

      // =====LARGEST SCREENS (1200px)=====
      @media (min-width: $desktop-width) {
         width: 100px;
         height: 45px;
         font-size: 1.8rem;
      }
   }
}
