.headline {
   margin-top: 5rem;
   color: $light-gray;
   font-size: 3rem;
   text-align: center;
   font-weight: 300;

   // =====LARGEST SCREENS (1200px)=====
   @media (min-width: $desktop-width) {
      margin-top: 8rem;
      font-size: 4rem;
   }
}
