.form__forgot {
   color: $main-pink;
   font-size: 1.3rem;
   text-decoration: none;
   align-self: flex-end;
   font-weight: 300;

   // Largest screens
   @media (min-width: $desktop-width) {
      font-size: 1.6rem;
   }
}
