.form__input {
   margin-top: 4px;
   margin-bottom: 17px;
   padding-left: 1rem;
   width: 100%;
   height: 42px;
   border-radius: 3px;
   border: 2px solid rgba($color: $dark-gray, $alpha: 0.2);
   color: $light-gray;
   background-color: transparent;
   outline: none;

   &::placeholder {
      font-size: 1.3rem;
      font-weight: 300;
   }
}
